{% extends "homepage.html" %}

{% block title %}TDB{% endblock %}
{% block content %}


    <h2 class="text-center">Liste des clients</h2>
    <div class="panel panel-default">
    <div class="panel-heading text-center">Clients</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Factures et Devis</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <th><a href="{ url 'client-detail' client.enterprise }">{{ client.enterprise }}</a></th>
                    <td>{{ client.first_name }}</td>
                    <td>{{ last_name }}</td>
                    <th>lien ?</th>
                </tr>
            {% endfor %}

            </tbody>
        </table>



{% endblock %}
