{% extends "homepage.html" %}

{% block title %}TDB{% endblock %}
{% block content %}

    <a href="{% url 'proposal-create' %}"><button type="link" name="button">Nouveau devis</button></a>
    <h2 class="text-center">En cours</h2>
    <div class="panel panel-default">
    <div class="panel-heading text-center">Devis</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Reférence</th>
                    <th>Date de création</th>
                    <th>Temps restant</th>
                    <th>Client</th>
                    <th>Montant</th>
                    <th>Gagné</th>
                    <th>Perdu</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
            {% for proposal in devEnCours %}
                <tr>
                    <th><a href="{% url 'proposal-detail' proposal.ref %}">{{ proposal.ref }}</a></th>
                    <td>{{ proposal.date_creation }}</td>
                    <td>6 mois</td>
                    <th>{{ proposal.client }}</th>
                    <td>{{ proposal.amount }}</td>
                    <td>
                        <form action="{% url 'proposal-change' ref=proposal.ref %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="ref" value="{{ proposal.ref }}" />
                            <button type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'proposal-arch' ref=proposal.ref %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="ref" value="{{ proposal.ref }}" />
                            <button type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </form>
                    </td>
                    <td><a href="{% url 'proposal-delete' proposal.ref %}"><button type="button" name="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="panel panel-default ">
        <div class="panel-heading text-center">Factures</div>
        <table class="table">
            <thead>
                <tr>
                <th>Reférence</th>
                <th>Date de création</th>
                <th>Client</th>
                <th>Montant</th>
                <th>Payée</th>
                </tr>
            </thead>
            <tbody>

                {% for proposal in factEnCours %}
                    <tr>
                        <th><a href="{% url 'proposal-detail' proposal.ref %}">{{ proposal.ref }}</a></th>
                        <td>{{ proposal.date_creation }}</td>
                        <th>{{ proposal.client }}</th>
                        <td>{{ proposal.amount }}</td>
                        <td>
                            <form action="{% url 'proposal-arch' ref=proposal.ref %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="ref" value="{{ proposal.ref }}" />
                                <button type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
